:root {
    --bg-color: #141332;
    --fore-color: #1C1B43;
    --main-green: #72D295;
    --main-red: #D56C6C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 0.6rem 1rem;
}

.input-wrapper span {
   display: flex;
   align-items: center;
}

input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-size: medium;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
    font-size: large;
    margin-bottom: 0.5rem;
}

header {
    height: 5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.tagline {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

main {
    max-width: 60rem;
    min-height: 30rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20rem 40rem;
    grid-template-rows: 50% 50%;
    grid-gap: 1rem;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 2rem;
}

#main-form {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-form > * {
    display: flex;
    flex-direction: column;
}


#target-price-area {
    display: flex;
}

.container {
    background-color: var(--fore-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}