* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--primary-500);
  color: var(--neutral-100);
}

input {
  background-color: transparent;
  border: none;
  color: var(--neutral-100);
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: medium;
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
}
