@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  font: var(--font-family-sans);
}

input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: medium;
  width: 100%;
}
