#target-price-area {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    #target-price-area {
        flex-direction: column;
    }

    .btns {
       margin-top: 0.6rem;
    }

    .btns .btn {
        padding: 0.6rem 1rem;
    }

    .btn.minus {
        margin-left: 0.5rem;
    }

    .btn.plus {
        margin-right: 0.5rem;
    }

    #target-price-area .btn {
        margin-left: 0;
    }
}

#target-price-area .input-wrapper {
    flex-grow: 3;
}

#target-price-area button {
    margin-left: 0.5rem;
    font-family: 'DM Sans', sans-serif;
}

button {
    border-radius: 7px;
    background-color: var(--bg-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.btns {
    flex-grow: 2;
    display: flex;
}

.btn.plus {
    flex-grow: 1;
}

.btn.minus {
    flex-grow: 1;
}

.growth-container {
    display: flex;
    justify-content: center;
    margin: auto 0;
    font-size: 3rem;
}

.caret {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.caret#loss {
    color: var(--main-red);
}

.caret#profit {
    color: var(--main-green);
}

