.dropdown-content {
    margin-top: 0.2rem;
    position: absolute;
    z-index: 99;
    background-color: var(--bg-color);
    box-shadow: 1px 4px 7px -3px rgba(0,0,0,0.57);
    padding: 0.9rem 0.6rem; 
    border-radius: 6px;
    overflow-y: scroll;
    max-height: 20rem;
    display: none;
}

.dropdown-content.show {
    display: block;
}

.option {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.2rem;
    
}

.no-option {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    color: gray;
}

.no-option span {
    color: white;
}

.close-btn {
    cursor: pointer;
    color: var(--main-red);
    border-radius: 5px;
    transition: .2s ease;
}

.close-btn:hover {
    background-color: #1c1b41;
    
}

.option:hover {
    background-color: var(--fore-color);
}

.no-option:hover {
    background-color: var(--fore-color);
}