#earnings-container {
    display: flex;
    line-height: none;
    justify-content: center;
    height: fit-content;
    margin: auto 0;
    overflow: hidden;
}

.earnings {
    line-height: none;
    max-width: inherit;
    font-size: 5rem;
    color: var(--main-green);
    overflow-x: auto;
}

/* .earnings.lg {
    font-size: 5rem;
}

.earnings.md {
    font-size: 4rem;
}

.earnings.sm {
    font-size: 3rem;
} */

#loss {
    color: var(--main-red);
}

/* 
l : 5rem : <11 digits
m : 4rem : 12-13 digits
s: 
 */